<!DOCTYPE html>
<html>
  <head>
    <title>ARTS DEPARTMENT</title>
    <link rel="icon" href="../../assets/logos/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/clg.css" />
  </head>
  <body>
    <header>
      <div class="banner">
        <img src="../../assets/logos/logo.png" alt="College Logo" />
        <div class="banner-content">
          <h1>
            Government Arts College (Autonomous) அரசு கலைக் கல்லூரி (தன்னாட்சி)
          </h1>
          <h2>Coimbatore - 641018</h2>
          <h2>
            Reaccredited with 'B++' Grade by NAAC and 44th rank in National
            Institute Ranking Framework (NIRF)
          </h2>
        </div>
      </div>
    </header>
    <nav class="navbar">
      <div class="navbar-links">
        <a href="../../clg.html">About us</a>
        <a href="../../templates/departments/arts.html">Arts Departments</a>
        <a href="../../templates/departments/science.html">Science Departments</a>
        <a href="../../templates/departments/commerce.html">Commerce Departments</a>
      </div>
    </nav>
    <main>
        <section class="depts">
          <h2 style="text-align: center;padding: 10px;">Arts Department</h2>
          <div class="alldepts">
            <div class="tamil">
             <img src="../../assets/images/tamil.jpg" alt="tamil"/>
             <p class="department-name">Tamil Literature</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="english">
             <img src="../../assets/images/english.jpg" alt="english"/>
             <p class="department-name">English Literature</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="history">
             <img src="../../assets/images/history.jpg" alt="history"/>
             <p class="department-name">History</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
          <div class="alldepts">
            <div class="ttm">
             <img src="../../assets/images/ttm.jpg" alt="ttm"/>
             <p class="department-name">Tourism And Travel Management</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="economics">
              <img src="../../assets/images/economics.jpg" alt="economics"/>
              <p class="department-name">Economics</p>
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="political">
              <img src="../../assets/images/political.jpg" alt="political"/>
              <p class="department-name">Political Science</p>
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
          <div class="alldepts">
            <div class="public-administration">
             <img src="../../assets/images/public administration.jpg" alt="public administration"/>
             <p class="department-name">Public Administration</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="defense">
             <img src="../../assets/images/defense.jpg" alt="defense"/>
             <p class="department-name">Defense Studies</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="business-administration">
             <img src="../../assets/images/business administration.jpg" alt="business administration"/>
             <p class="department-name">Business Administration</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
        </section>
    </main>
    <footer class="footer">
     <div class="footer-container">
      <div class="footer-video">
        <iframe width="100%" height="200px" src="https://www.youtube.com" frameborder="0" allowfullscreen></iframe>
      </div>
     <div class="footer-links">
      <h3>Useful Links</h3>
      <ul>
        <li>UGC</li>
        <li>NAAC</li>
        <li>DST</li>
        <li>DBT</li>
        <li>Bharathiar University</li>
      </ul>
      </div>
      <div class="footer-contact">
       <h3>Keep in Touch</h3>
       <p>📍 Government Arts College (Autonomous)<br>
        Arts College Road,<br>
        Coimbatore – 641 018<br>
        Tamil Nadu, India.</p>
       <p>📞 (0422) 2215212</p>
       <p>📠 Fax: 0422-2217572</p>
       <p>📧 cbegaccoe@gmail.com</p>
      </div>
     </div>
    </footer>
  </body>
</html>