<!DOCTYPE html>
<html>
  <head>
    <title>COMPUTER SCIENCE DEPARTMENT</title>
    <link rel="icon" href="../../assets/logos/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/clg.css" />
  </head>
  <body>
    <header>
      <div class="banner">
        <img src="../../assets/logos/logo.png" alt="College Logo" />
        <div class="banner-content">
          <h1>
            Government Arts College (Autonomous) அரசு கலைக் கல்லூரி (தன்னாட்சி)
          </h1>
          <h2>Coimbatore - 641018</h2>
          <h2>
            Reaccredited with 'B++' Grade by NAAC and 44th rank in National
            Institute Ranking Framework (NIRF)
          </h2>
        </div>
      </div>
    </header>
    <nav class="navbar">
      <div class="navbar-links">
        <a href="../../clg.html" style="padding-left: 20px">About us</a>
        <a href="../../templates/departments/arts.html">Arts Departments</a>
        <a href="../../templates/departments/science.html">Science Departments</a>
        <a href="../../templates/departments/commerce.html">Commerce Departments</a>
      </div>
    </nav>
    <main>
        <section>
          <h2 style="text-align: center;padding: 10px;">Computer Science Department</h2>
          <div class="about-section">
            <h3 class="section-title">Introduction</h3>
            <p>
            The Department of Computer Science was established to meet the demand for well-qualified computer professionals and was started in the year 1999. Department has well qualified and vibrant faculty dedicated for the betterment of the students. Most of the students passed out are well placed or have opted for higher studies. The department has provided a well-equipped computer lab with latest computer softwares. The Laboratories are installed with broadband internet facility. The department ensures that program objectives are constantly met and learning outcomes are monitored through periodical test and assignment.
            </p>
            <h3 class="section-title">Vision</h3>
            <p>“To empower rural women as globally competent professionals in computer science education and research.”</p>
            <h3 class="section-title">Mission</h3>
            <ul class="mission-list">
              <li>☑ Equip with Globally competent syllabus.</li>
              <li>☑ Adopt Innovative technologies in teaching and learning process.</li>
              <li>☑ Collaboration with multinational companies.</li>
              <li>☑ Train to get online certification.</li>
              <li>☑ Furnish Research and Development Lab.</li>
              <li>☑ Undertake major/minor projects.</li>
            </ul>
          </div>
        </section>
        <section>
        <h3 class="student-title">Student Details</h3>
        <table class="student-table">
           <thead>
               <tr>
                   <th>Year</th>
                   <th>Shift</th>
                   <th>Graduate</th>
                   <th>Students</th>
               </tr>
           </thead>
           <tbody>
               <tr><td>2023-2026</td><td>Shift I</td><td>UG</td><td>30</td></tr>
               <tr><td>2023-2026</td><td>Shift II</td><td>UG</td><td>25</td></tr>
               <tr><td>2024-2027</td><td>Shift I</td><td>UG</td><td>40</td></tr>
               <tr><td>2024-2027</td><td>Shift II</td><td>UG</td><td>35</td></tr>
               <tr><td>2024-2026</td><td>Shift I</td><td>PG</td><td>25</td></tr>
               <tr><td>2024-2026</td><td>Shift II</td><td>PG</td><td>20</td></tr>
               <tr><td>2025-2028</td><td>Shift I</td><td>UG</td><td>40</td></tr>
               <tr><td>2025-2028</td><td>Shift II</td><td>UG</td><td>30</td></tr>
               <tr><td>2025-2027</td><td>Shift I</td><td>PG</td><td>30</td></tr>
               <tr><td>2025-2027</td><td>Shift II</td><td>PG</td><td>30</td></tr>
             </tbody>
        </table>
        </section>
    </main>
    <footer class="footer">
     <div class="footer-container">
      <div class="footer-video">
        <iframe width="100%" height="200px" src="https://www.youtube.com" frameborder="0" allowfullscreen></iframe>
      </div>
     <div class="footer-links">
      <h3>Useful Links</h3>
      <ul>
        <li>UGC</li>
        <li>NAAC</li>
        <li>DST</li>
        <li>DBT</li>
        <li>Bharathiar University</li>
      </ul>
      </div>
      <div class="footer-contact">
       <h3>Keep in Touch</h3>
       <p>📍 Government Arts College (Autonomous)<br>
        Arts College Road,<br>
        Coimbatore – 641 018<br>
        Tamil Nadu, India.</p>
       <p>📞 (0422) 2215212</p>
       <p>📠 Fax: 0422-2217572</p>
       <p>📧 cbegaccoe@gmail.com</p>
      </div>
     </div>
    </footer>
  </body>
</html>