<!DOCTYPE html>
<html>
  <head>
    <title>SCIENCE DEPARTMENT</title>
    <link rel="icon" href="../../assets/logos/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/clg.css" />
  </head>
  <body>
    <header>
      <div class="banner">
        <img src="../../assets/logos/logo.png" alt="College Logo" />
        <div class="banner-content">
          <h1>
            Government Arts College (Autonomous) அரசு கலைக் கல்லூரி (தன்னாட்சி)
          </h1>
          <h2>Coimbatore - 641018</h2>
          <h2>
            Reaccredited with 'B++' Grade by NAAC and 44th rank in National
            Institute Ranking Framework (NIRF)
          </h2>
        </div>
      </div>
    </header>
    <nav class="navbar">
      <div class="navbar-links">
        <a href="../../clg.html">About us</a>
        <a href="../../templates/departments/arts.html">Arts Departments</a>
        <a href="../../templates/departments/science.html">Science Departments</a>
        <a href="../../templates/departments/commerce.html">Commerce Departments</a>
      </div>
    </nav>
    <main>
        <section class="depts">
          <h2 style="text-align: center;padding: 10px;">Science Department</h2>
          <div class="alldepts">
            <div class="botony">
             <img src="../../assets/images/botony.jpg" alt="botony"/>
             <p class="department-name">Botony</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="zoology">
             <img src="../../assets/images/zoology.jpg" alt="zoology"/>
             <p class="department-name">Zoology</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="chemistry">
             <img src="../../assets/images/chemistry.jpg" alt="chemistry"/>
             <p class="department-name">Chemistry</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
          <div class="alldepts">
            <div class="physics">
             <img src="../../assets/images/physics.jpg" alt="physics"/>
             <p class="department-name">Physics</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="maths">
             <img src="../../assets/images/maths.jpg" alt="maths"/>
             <p class="department-name">Mathematics</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="psychology">
             <img src="../../assets/images/psychology.jpg" alt="psychology"/>
             <p class="department-name">Psychology</p>
             <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
          <div class="alldepts">
            <div class="geography">
              <img src="../../assets/images/geography.jpg" alt="geography"/>
              <p class="department-name">Geography</p>
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="geology">
              <img src="../../assets/images/geology.jpg" alt="geology"/>
              <p class="department-name">Geology</p>
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="statistics">
              <img src="../../assets/images/stat.jpg" alt="statistics"/>
              <p class="department-name">Statistics</p>
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
          <div class="alldepts">
            <div class="computer-science">
              <img src="../../assets/images/cs.jpg" alt="computer science"/>
              <p class="department-name">Computer Science</p>
              <a href="../../templates/departments/cs.html" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="information-technology"> 
              <img src="../../assets/images/it.jpg" alt="information technology"/>
              <p class="department-name">Information Technology</p>
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
            <div class="computer-applications">
              <img src="../../assets/images/ca.jpg" alt="computer applications"/>
              <p class="department-name">Computer Applications</p>  
              <a href="#" class="view-button">VIEW DETAILS</a>
            </div>
          </div>
        </section>
    </main>
    <footer class="footer">
     <div class="footer-container">
      <div class="footer-video">
        <iframe width="100%" height="200px" src="https://www.youtube.com" frameborder="0" allowfullscreen></iframe>
      </div>
     <div class="footer-links">
      <h3>Useful Links</h3>
      <ul>
        <li>UGC</li>
        <li>NAAC</li>
        <li>DST</li>
        <li>DBT</li>
        <li>Bharathiar University</li>
      </ul>
      </div>
      <div class="footer-contact">
       <h3>Keep in Touch</h3>
       <p>📍 Government Arts College (Autonomous)<br>
        Arts College Road,<br>
        Coimbatore – 641 018<br>
        Tamil Nadu, India.</p>
       <p>📞 (0422) 2215212</p>
       <p>📠 Fax: 0422-2217572</p>
       <p>📧 cbegaccoe@gmail.com</p>
      </div>
     </div>
    </footer>
  </body>
</html>